html {
  height: 100%;
}

body {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.AHH {
  display: flex;
  flex-direction: column;
  
}

.content {
  height: 100%;
  background: #b3dafb;
  flex: 1 0 auto;
}

.header {
  flex: 0 1 auto;
}

.App {
  height: 100%;
  text-align: center;
}

//MY THINGS

.top-bar {
  animation: fadeIn ease 0.5s;
  background: #ffffff;
  border: 3px solid #000000;
  transition-duration: 1s;
  position: sticky;
  z-index: 2;
}

.navigation {
  animation: fadeIn ease 1s;
  list-style-type: none;
  background: #333333;
  padding: 0;
  margin: auto;
  overflow: hidden;
  width: 100%;
  text-align: center;
  position: relative;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.navigation-item {
  width: 10%;
  height: 100%;
  display: inline-block;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  transition-duration: 0.4s;
  position: relative;
}

.navigation-item:hover {
  background: #222222;
  transition-duration: 0.4s;
}

.explain {
  overflow: hidden;
  animation: explainSwipeIn ease 1s;
  list-style-type: none;
  margin-top: 20;
  float: right;
  border: 3px solid #000000;
  font-size: 16px;
  right: 35px;
  width: 20%;
  top: 110px;
  position: absolute;
  text-align: left;
  padding: 10px;
}

.explain-box {
  transition: opacity ease-in-out 0.3s;
}

.explain-box:hover {
  opacity: 0;
}


@keyframes explainSwipeIn {
  from {right: -350px;}
  to {right: 35px;}
}

// BACKEND STUFF

.footer {
  flex: 0 1 40px;
}